:root {
    --present: #c9b458;
    --absent: #3e3e3e;
    --correct: #6aaa64;
    --unknown: #818384;
    font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    background-color: #121212;
}

.title {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #d7dadc;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

a {
    color: #d7dadc;
}

.message {
    color: #d7dadc;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    text-align: center;
}

.game {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.board-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    width: 350px;
    height: 420px;
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.keyboard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    margin-left: 12px;
    margin-right: 6px;
    margin-bottom: 6px;
}

.keyboard-row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 6px;
}

.keyboard-second {
    padding-left: 24px;
}

.spacer {
    flex: 0.4;
}

.keyboard-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 50px;

    background-color: var(--unknown);
    border: none;
    border-radius: 6px;
    color: white;

    touch-action: manipulation;
    cursor: pointer;
    user-select: none;

    font-weight: bold;
    padding: 0.5em 0.5em;
    margin-right: 6px;

    text-transform: uppercase;
}

.row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.tile {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #121213;
    color: white;
    text-transform: uppercase;
    user-select: none;
    border: 2px solid #3a3a3c;
}

.present {
    background-color: var(--present);
    border: none;
}

.absent {
    background-color: var(--absent);
    border: none;
}

.correct {
    background-color: var(--correct);
    border: none;
}

.current {
    background-color: var(--unknown);
    border: none;
}

.current.present {
    border: 5px solid var(--present);
}

.current.absent {
    border: 5px solid var(--absent);
}

.current.correct {
    border: 5px solid var(--correct);
}
